.user-container{
    background-color: antiquewhite;
    padding:20px;
    color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:1rem;
    align-items:center;
    margin:1rem;
    

}
#user-image{
    height:100px;
    width:100px;
    border-radius:50%;


}